<div class="content-container">
  <div class="login-wrapper">
    <h1 class="project-name">A Cloud</h1>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>เข้าสู่ระบบ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>อีเมล</mat-label>
            <input matInput formControlName="email" placeholder="กรอกอีเมลของคุณ" required type="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>รหัสผ่าน</mat-label>
            <input matInput formControlName="password" placeholder="กรอกรหัสผ่านของคุณ" required type="password">
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">เข้าสู่ระบบ</button>
            <button mat-stroked-button color="accent" type="button" (click)="navigateToRegister()">สมัครสมาชิก</button>
          </div>
        </form>
        <div class="social-login">
          <p>หรือเข้าสู่ระบบด้วย</p>
          <div class="social-buttons">
            <button mat-raised-button (click)="signInWithGoogle()">
              <mat-icon svgIcon="google-logo"></mat-icon> Google
            </button>
            <button mat-raised-button color="primary" (click)="signInWithFacebook()">
              <mat-icon svgIcon="facebook-logo"></mat-icon> Facebook
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>